@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,800&display=swap&subset=cyrillic');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
